.tituloContenedor {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #e50914;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    flex-wrap: wrap;
  }
  
  
  .titulo {
    font-size: 2.5rem;
    font-weight: bold;

  }